.messages {
  width: 100%;
  max-width: 700px;
  margin-bottom: 120px;
}

.user {
  background: #7c5cff;
  color: white;
  padding: 12px 16px;
  border-radius: 14px;
  margin: 12px 0;
  align-self: flex-end;
}

.bot {
  background: #11142a;
  color: #e5e7eb;
  padding: 12px 16px;
  border-radius: 14px;
  margin: 12px 0;
}
.bot pre {
  background: #1f2347;
  padding: 10px;
  border-radius: 8px;
  overflow-x: auto;
}