.inputWrap {
  position: fixed;
  bottom: 30px;
  width: 100%;
  max-width: 720px;
  display: flex;
  background: #11142a;
  border-radius: 16px;
  padding: 10px;
  border: 1px solid #1f2347;
}

.inputWrap input {
  flex: 1;
  background: transparent;
  border: none;
  color: #e5e7eb;
  padding: 12px;
  outline: none;
}

.inputWrap button {
  background: #7c5cff;
  color: white;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 12px;
  cursor: pointer;
}
.inputWrap button:hover {
  background: #a78bfa;
}