.chat {
  flex: 1;
  background: var(--bg-chat);
  border-radius: 18px;
  margin: 16px 16px 16px 0;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  padding: 32px;
  overflow-y: auto;
}
